[Unit]
Description=MailHog Email Catcher
After=syslog.target network.target

[Service]
Type=simple
ExecStart={{ mailhog_install_dir }}/mailhog --smtp-bind-addr {{ mailhog_smtp_bind_addr }}  -ui-bind-addr {{ mailhog_ui_bind_addr }} -ui-web-path "{{  mailhog_ui_web_path }}"
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
